<div class="checkbox-wrapper">
  <label class="checkbox pointer">
    <input
      class="checkbox__trigger"
      type="checkbox"
      [checked]="checked"
      (change)="toggleCheckbox()"
    />
    <span class="checkbox__symbol">
          <svg aria-hidden="true"
               class="icon-checkbox"
               width="28px" height="28px" viewBox="0 0 28 28"
               xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4 14l8 7L24 7"></path>
          </svg>
        </span>
    <p class="text-textColor-light cursor-pointer">{{label | translate}}</p>
  </label>

</div>
