<div class="flex flex-col items-center gap-20">
  <div class="bg-logo md:w-[50rem] w-256 h-64 custom-bg-contain cursor-pointer"></div>
  @if (success()) {
    <app-result [resultData]="resultData()"></app-result>
  } @else {
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <div class="w-full flex items-center justify-center relative">
        <div class="bg-arrow cursor-pointer hover:translate-x-[-2px]
        transition custom-bg-contain h-24 w-24 rotate-90
        translate-y-[-50%] absolute top-[50%] left-[0]" routerLink="/">
        </div>
        <p class="text-textColor-light text-18 sm:text-32">{{ "RESET_PASS.RESET" | translate }}</p>
      </div>

      @if (!isPasswordResetLink()) {
        <div class="w-full">
          <app-input formControlName="email" [label]="'GENERAL.EMAIL'"></app-input>
        </div>
      }

      @if (isPasswordResetLink()) {
        <div class="w-full">
          <app-input formControlName="password" type="password" [label]="'GENERAL.NEW_PASSWORD'"></app-input>
          <div class="mb-24">
            <app-password-strength [passwordStrengthData]="passwordStrengthData()"></app-password-strength>
          </div>
          <app-input formControlName="confirmPassword" type="password" [label]="'GENERAL.CONFIRM_PASSWORD'"></app-input>
        </div>
      }

      <button type="submit" class="button">
        {{ "GENERAL." + (isPasswordResetLink() ? "RESET_PASS" : "CONTINUE") | translate }}
      </button>
    </form>
  }
</div>
