<div class="flex flex-col">
  <p class="font-12 text-error bg-cross pl-30 transition-all duration-300"
     [class.done]="passwordStrengthData()?.lowercase"
     [class.text-success]="passwordStrengthData()?.lowercase"
  >
    Must contain at least one lowercase letter
  </p>
  <p class="font-12 text-error bg-cross pl-30 transition-all duration-300"
     [class.done]="passwordStrengthData()?.uppercase"
     [class.text-success]="passwordStrengthData()?.uppercase"
  >
    Must contain at least one uppercase letter
  </p>
  <p class="font-12 text-error bg-cross pl-30 transition-all duration-300"
     [class.done]="passwordStrengthData()?.number"
     [class.text-success]="passwordStrengthData()?.number"
  >
    Must contain at least one number
  </p>
  <p class="font-12 text-error bg-cross pl-30 transition-all duration-300"
     [class.done]="passwordStrengthData()?.length"
     [class.text-success]="passwordStrengthData()?.length"
  >
    Must be at least 8 characters long
  </p>
</div>
