@if (success()) {
  <app-result (buttonClick)="navigate()" [resultData]="resultData()"></app-result>
} @else {
  <form class="form" [formGroup]="form" (ngSubmit)="submit()" [class.p-[0]]="regType === 'dashboard'">
    @if (regType === 'landing') {
      <p class="text-textColor-light text-18 sm:text-32">{{"REG.CREATE_ACC" | translate}}</p>
      <p class="text-textColor-dark sm:text-20">
        {{"REG.ACC_QUEST" | translate}}
        <a class="text-blue" [routerLink]="'/landing/auth'">{{"AUTH.LOGIN" | translate}}</a>
      </p>
    }

    <div class="w-full flex justify-between space-x-12">
      <app-input formControlName="firstName" [label]="'REG.F_NAME'"></app-input>
      <app-input formControlName="lastName" [label]="'REG.L_NAME'"></app-input>
    </div>

    <div class="w-full">
      <app-input formControlName="email" [label]="'REG.EMAIL'"></app-input>
    </div>

    <div class="w-full">
      <app-input formControlName="phoneNumber" [label]="'REG.PHONE'"></app-input>
    </div>

    @if (regType === 'landing') {
      <div class="w-full">
        <app-input formControlName="companyName" [label]="'REG.COMPANY_N'"></app-input>
      </div>
    }

    <button type="submit" class="button">{{"REG.REGISTER" | translate}}</button>
  </form>
}
