@import "mixins";
@import "variables";

.ql-editor {
  @apply text-textColor-light text-18;

  &::before {
    color: var(--text-color-light) !important;
  }
}

.ql-toolbar {
  @apply bg-textColor-light rounded-tr-8 rounded-tl-8;
}

.ql-container {
  min-height: 200px;
  border: none !important;
  @apply shadow-custom rounded-br-8 rounded-bl-8;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
  pointer-events: none;
}

.triangle-bottom {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.3px 10px 0 10px;
  border-color: #f8e71c transparent transparent transparent;
}

.card {
  @apply rounded-16 p-12 sm:p-24 w-full bg-secondary-dark;

  &.gradient {
    background: linear-gradient(135deg, #1F1F1F, #3A3A3A);
  }
}

.scrollbar {
  @include customScrollbar();
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.note {
  position: absolute;
  bottom: 38px;
  right: 0;
  z-index: 99999;
  background-color: var(--secondary-dark);
  border-radius: 6px;

  &:after {
    content: "";
    position: absolute;
    right: 8px;
    bottom: -7px;
    transform: rotate(-45deg);
    width: 0;
    z-index: 9999;
    height: 0;
    border-left: 8px solid var(--secondary-dark);
    border-bottom: 8px solid var(--secondary-dark);
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.shake {
  border: 1px solid var(--error) !important;
  -webkit-animation-name: shake;
  animation-name: shake;
  animation-delay: 0s;
  animation-duration: 0.65s;
}

.headShake {
  border: 1px solid var(--error) !important;
  -webkit-animation-name: headShake;
  animation-name: headShake;
  animation-delay: 0s;
  animation-duration: 0.65s;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
