@mixin flex() {
  display: flex;
  align-items: center;
}

@mixin flexCenter() {
  @include flex();
  justify-content: center;
}

@mixin flexStart() {
  @include flex();
  justify-content: flex-start;
}

@mixin flexEnd() {
  display: flex;
  @include flex();
  justify-content: flex-end;
}

@mixin flexParams($align, $justify, $gap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin backgroundOptions($position, $size) {
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin customScrollbar {
  /* Customize the scrollbar */
  &::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 8px; /* height of the horizontal scrollbar */
  }

  /* Customize the thumb (the draggable part) */
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* yellow color */
    border-radius: 10px; /* rounded corners */
  }

  /* Customize the track (the background of the scrollbar) */
  //::-webkit-scrollbar-track {
  //  background-color: var(--secondary-medium-gray); /* light grey track */
  //  border-radius: 10px; /* rounded corners */
  //}

  /* Optional: Customize the scrollbar button (if you have arrows on the scrollbar) */
  &::-webkit-scrollbar-button {
    height: 0 !important;
    width: 0 !important;
    background-color: var(--secondary); /* yellow color for the buttons */
    border-radius: 10px;
  }
}
