<div class="w-full input-wrapper border-primary-500 border-b-2">
  <label class="text-textColor-light relative">
    <span class="absolute left-14 top-[50%] translate-y-[-50%]">
      <ng-content select="[icon]"></ng-content>
    </span>
    {{ label | translate }}
    <input [type]="type"
           [value]="value"
           autofocus
           (focus)="onFocus()"
           [placeholder]="placeholder | translate"
           (input)="onInput($event)"
           (blur)="onTouched()"
           autocomplete="new-password"
           class="mt-4 h-52 w-full py-16 px-50"
    >
    <ng-content select="[valid]"></ng-content>
  </label>
</div>
