<!--<div class="flex w-full h-[100dvh] items-center justify-center">-->
<!--  <mat-form-field appearance="fill" class="w-400">-->
<!--    <label matLabel>Fill form field</label>-->
<!--    <input matInput placeholder="Placeholder">-->
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="outline">-->
<!--    <label matLabel>Outline form field</label>-->
<!--    <input matInput placeholder="Placeholder">-->
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--  </mat-form-field>-->

<!--  <button mat-button color="warning">Submit</button>-->
<!--</div>-->
