.wrapper {
  &.closed {
    @apply w-112;

    @media screen and (max-width: 1024px) {
      @apply left-[-112px];
    }

    .logo {
      @apply w-80 h-80 min-h-50 mx-auto mt-20;

      a {
        @apply min-h-50 m-[0];
      }
    }

    nav {
      ul {
        @apply items-center;

        li {
          @apply w-40 justify-center;

          .custom-bg-cover {
            @apply min-w-16;
          }

          a {
            @apply hidden;
          }
        }
      }
    }
  }
}

.link {
  a {
    transition: all .3s;
    color: var(--text-color-dark);
  }

  &:hover {
    background-color: var(--dark);

    a {
      color: var(--text-color-light);
    }
  }

  &.active {
    @apply bg-primary;

    a {
      color: var(--secondary);
    }

    &:hover {
      background-color: darken(#FFC926, 10);
    }

  }
}

.after {
  @apply after:fixed after:top-[0]
  after:bg-secondary after:opacity-50 after:z-[111] after:backdrop-blur-md
  after:left-[0]  after:ml-240 after:w-full after:h-full;
}
