<aside class="fixed z-50 bg-secondary-dark xl:bg-transparent wrapper
              left-[0] w-240 h-screen border-r border-secondary---secondary-light
              flex flex-col gap-20 transition-[all]"
       [class.closed]="(navService.sideBarState | async) === 'closed'"
>
  <div class="h-24 w-24 absolute top-[44px] cursor-pointer right-[-46px] custom-bg-cover"
       [class.bg-arrow-close]="(navService.sideBarState | async) === 'closed'"
       [class.bg-arrow-open]="(navService.sideBarState | async) === 'opened'"
       (click)="toggle()">
  </div>
  <div class="p-12 logo">
    <a class="min-h-64 w-full mt-20 block bg-logo custom-bg-contain"
       [class.bg-logo]="(navService.sideBarState | async) === 'opened'"
       [class.bg-alpha_crew_logo]="(navService.sideBarState | async) === 'closed'"></a>
  </div>
  <nav class="w-full h-full flex flex-col items-center justify-between pb-32">
    <ul class="w-full px-20 flex flex-col gap-y-12">
      @for (menu of (menuItems | async); track menu.title) {
        @if (!menu.hide) {
          <li appRipple routerLink="/dashboard/jobs" routerLinkActive="active"
              [position]="'right'" [tooltip]="(navService.sideBarState | async) === 'closed' ? menu.title : ''"
              class="link w-full h-40 flex items-center gap-x-6 cursor-pointer py-10 px-16 leading-[1] rounded-8 transition duration-300">
            <div class="h-16 w-16 bg-jobs custom-bg-cover"></div>
            <a>{{ menu.title }}</a>
          </li>
        }
      }
    </ul>

  </nav>
</aside>

<div class="after xl:hidden"
     (click)="navService.close()"
     [class.hidden]="(navService.sideBarState | async) === 'closed'">
</div>
