<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="flex flex-col justify-between gap-y-20">
    <app-input formControlName="currentPassword" [type]="'password'"
               [label]="'Old password'"></app-input>

    <div class="flex w-full flex-col items-center gap-12">
      <app-input class="w-full" formControlName="newPassword" [type]="'password'" [label]="'New password'"></app-input>
      <app-password-strength class="w-full" [passwordStrengthData]="passwordStrengthData()"></app-password-strength>
    </div>

    <app-input formControlName="confirmPassword" type="password" [label]="'GENERAL.CONFIRM_PASSWORD'"></app-input>

    <button type="submit" class="button">Change</button>
  </div>
</form>
