<header class="h-112 z-40 p-24 bg-secondary flex justify-between
               items-center fixed top-[0] right-24"
        [class.full]="(navService.sideBarState | async) === 'closed'"
        [class.limited]="(navService.sideBarState | async) === 'opened'"
>
  <div class="company-info pl-10">
    <p class="text-textColor-light">
      {{ customer()?.companyName }}
    </p>
  </div>

  @if ((navService.sideBarState | async) === 'closed') {
    <div class="hidden md:block bg-logo custom-bg-contain h-44 w-210" [animation]="animationTypes.SLIDEINDOWN" [duration]="0.3"></div>
  }

  <div class="user-info flex items-center gap-x-10 relative cursor-pointer" appToggleMenu>
    <div class="hidden xs:block bg-profile custom-bg-contain bg-60% w-44 h-44 rounded-50 bg-secondary cursor-pointer"></div>
    <p class="text-blue text-right sm:text-left sm:text-18">
      {{ customer()?.firstName }}
      {{ customer()?.lastName }}
    </p>

    <div class="h-14 w-14 custom-bg-contain bg-arrow transition"></div>

    <div class="w-256 absolute top-50 right-[0] z-50 list hidden">
      <app-list [list]="optionsList()" (selectOption)="select($event)"></app-list>
    </div>

  </div>
</header>

@if (showRegModal()) {
  <app-modal (close)="showRegModal.set(false)" [modalTitle]="'REG.REG_NEW_USER'">
    <app-register-form (finish)="showRegModal.set(false)" [regType]="'dashboard'"></app-register-form>
  </app-modal>
}

@if (showPassChangeModal()) {
  <app-modal (close)="showPassChangeModal.set(false)" [modalTitle]="'GENERAL.CHANGE_PASS'">
    <app-change-password (finish)="showPassChangeModal.set(false)"></app-change-password>
  </app-modal>
}
