header {
  //@apply w-full;

  &.full {
    @media screen and (max-width: 1024px){
      width: calc(100% - 48px);
    }

    @media screen and (min-width: 1025px){
      width: calc(100% - 160px);
    }
  }

  &.limited {
    width: calc(100% - 288px);
  }

}

.user-info.visible {
  .bg-arrow {
    @apply scale-[-1];
  }

  .list {
    display: block !important;
  }
}
